@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Poppins:wght@400;600;700;800;900&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #3e86f5;
    --gray: #7c7c7c;
    min-width: 300px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}
.my_container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.header {
    color: var(--white);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    margin-left: 20px;
}

.header__menu {
    display: none;
}

.mini_menu {
    display: flex;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.header__menu div {
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    border: red solid 1px;
}

@media (min-width: 500px) {
    .mini_menu {
        display: none;
    }
    .header__menu {
        display: flex;
    }
}

@media (min-width: 580px) {
    .header__menu {
        font-size: 24px;
        line-height: 36px;
    }
}

.main {
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center center;
    margin-top: -250px;
    opacity: 80%;
    position: relative;
    z-index: 1;
    min-height: 500px;
}

