@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Poppins:wght@400;600;700;800;900&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #d6d6d6;
    --gray: #7c7c7c;
    --background:#f7f7f7;
    min-width: 300px;
    font-family: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}
.my_container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.header {
    color: var(--white);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    margin-left: 20px;
}

.header__menu {
    display: none;
}

.mini_menu {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    transition: background-color 0.3s, color 1s, height 0.3s, border-radius 0.3s; /* Додаємо анімацію для плавної зміни стилю */
}

.header__menu div {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    /* border: red solid 1px; */
    transition: background-color 0.3s, color 1s, height 0.3s, border-radius 0.3s; /* Додаємо анімацію для плавної зміни стилю */
}

.header__menu div:hover {
    background-color: var(--white); /* Фон білий */
    color: var(--blue); /* Текст голубий */
    border-radius: 10px; /* Закруглення кутів 10px */
}

.mini_menu:hover {
    background-color: var(--white); /* Фон білий */
    color: var(--blue); /* Текст голубий */
    border-radius: 10px; /* Закруглення кутів 10px */
}



.main {
    background-image: url('../img/background_home.png');
    background-size: cover;
    background-position: center center;
    margin-top: -250px;
    position: relative;
    z-index: 1;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Прозорість для зображення */
.main::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6); /* Кольором чорний (0, 0, 0) з прозорістю 50% (0.5) */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; /* Розміщуємо зображення за фоном */
}

.main__content {
    max-width: 820px;
}

.title {
    padding-top: 100px;
    font-weight: 600;
    font-size: 42px;
    line-height: 150%;
    text-transform: uppercase;
}

.subtitle {
    padding: 30px 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

@media (min-width: 580px) {
    .mini_menu {
        display: none;
    }
    .header__menu {
        display: flex;
    }

    .header__menu {
        font-size: 24px;
        line-height: 36px;
    }
    .title {
        font-size: 48px;
        line-height: 75px; 
    }
}

@media (min-width: 960px) {
    .title {
        font-size: 64px;
        line-height: 96px; 
    }
}

.options {
    background-color: var(--background); 
    height: 600px;
    width: 100%;
}


.tabs {
    position: relative;
    margin: -150px 0;
    background: var(--white);
    height: 100px;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 100px;
    height: 100px;
    padding: 0 40px;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    top: 1;
    transition: all 0.25s;
    z-index: 1;

    font-size: 18px;
    
    
}

.tab-label span {
    padding-left: 15px;
    display: none;
}

.tab-label:hover {
    transition: top 0.25s;
}

.icon {
    width: 24px; /* Задайте бажаний розмір ширини */
    height: 24px; /* Задайте бажаний розмір висоти */
    margin-right: 10px;

}


.tab-content {
    position: absolute;
    left: 0; /* Закріплюємо лівий край на початку контейнера */
    right: 0; /* Закріплюємо правий край на кінці контейнера */
    padding: 50px;
    background:var(--white);
    opacity: 0;

    
    font-size: 24px;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.tab-switch:checked + .tab-label {
    border-bottom: 0;
    z-index: 1;
    top: 0;
}





.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;

}

/* закруглення  */

.tab:first-child .tab-label {
    border-top-left-radius: 25px;
}

.tab:last-child .tab-label {
    border-top-right-radius: 25px;
}

.tab-content {
    border-top-right-radius: 25px;
    

}

.tab-switch:checked + .tab-label::before {
    content: ''; /* Додаємо пустий контент для ::before */
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px ;
    bottom: 10px;
    background: #d8e7fd; /* Синій колір як приклад */
    border-radius: 25px; /* Закруглення кутів кнопки */
    z-index: -1; /* Зміщуємо кнопку за текст */
    
}

@media (min-width: 660px) {
    .tab-label span {
        display: inline;
        transition: background-color 0.3s, color 1s, height 0.3s, border-radius 0.3s; /* Додаємо анімацію для плавної зміни стилю */
    }
}


.gray_oval1 {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  gap: 15px;
  width: 500px;
  height: 150px;
  border: solid #d6d6d6 2px;
  border-radius: 25px;
  margin: 25px 0;
  padding: 15px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.big-icon {
  max-width: 100%;
  height: auto;
}

.column span {
    font-size: 18px;
    line-height: 24px; 
    color: var(--gray);

}

.column div {

    font-size: 24px;
    line-height: 32px; 
}

.tab_content_gray {
    display: flex;
    justify-content: space-between;

}

.big_button {
    width: 150px;
    margin: 25px 0;
}